.header-container {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-colors-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1300px;
  align-items: flex-start;
}
.header-link {
  display: contents;
}
.header-image {
  width: 70px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink {
  display: contents;
}
.header-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-halfunit);
}
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: 0px;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  position: 0px;
}
@media(max-width: 991px) {
  .header-container2 {
    flex: 1;
    flex-wrap: wrap;
  }
  .header-text {
    font-size: 25;
  }
}
@media(max-width: 767px) {
  .header-container {
    padding: 2%;
  }
  .header-image {
    width: 55;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .header-image {
    width: 50px;
    margin-top: 12px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .header-text {
    font-size: 25px;
  }
}

.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-root-class-name {
  display: none;
}
.navbar-root-class-name1 {
  display: none;
}
.navbar-root-class-name2 {
  display: none;
}
.navbar-root-class-name3 {
  display: none;
}
.navbar-root-class-name4 {
  display: none;
}
.navbar-root-class-name5 {
  display: none;
}
.navbar-root-class-name6 {
  display: none;
}
.navbar-root-class-name7 {
  display: none;
}
.navbar-root-class-name8 {
  display: none;
}
.navbar-root-class-name9 {
  display: none;
}
@media(max-width: 991px) {
  .navbar-button {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media(max-width: 767px) {
  .navbar-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button4 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button6 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 400px) {
  .navbar-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container01 {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-navlink {
  display: contents;
}
.footer-container02 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-style: hidden;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-text {
  font-style: normal;
}
.footer-text05 {
  display: none;
  font-style: normal;
}
.footer-info {
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.footer-quick-links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  margin: var(--dl-space-space-halfunit);
}
.footer-container03 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink1 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink2 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink3 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink4 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-contact {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text09 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-link {
  display: contents;
}
.footer-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text10 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 19px;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text19 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-contact1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-link1 {
  display: contents;
}
.footer-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.footer-icon4 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text21 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon6 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text31 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-text32 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container01 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container02 {
    position: static;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    padding-left: 1%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: 1%;
    padding-bottom: 0px;
  }
  .footer-text {
    display: none;
  }
  .footer-text05 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text10 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .footer-text21 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-info {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-quick-links {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: 0px;
  }
  .footer-container03 {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-contact {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-container06 {
    margin-top: 0px;
  }
  .footer-contact1 {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .footer-container03 {
    flex-wrap: wrap;
  }
}

.anand-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colors-background);
  background-attachment: fixed;
}
.anand-canvas {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 160px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.anand-container01 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.anand-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.anand-container02 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.anand-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.anand-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.anand-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 3%;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.anand-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  flex-wrap: wrap;
  max-width: 1000px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.anand-container05 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: 0%;
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
.anand-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.anand-image {
  width: 100%;
  object-fit: cover;
  border-color: var(--dl-color-colors-accent);
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.anand-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.anand-name {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 28px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Nunito";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.anand-address {
  color: var(--dl-color-gray-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.anand-link {
  display: contents;
}
.anand-email {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.anand-container08 {
  flex: 0 0 auto;
  width: 7%;
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.anand-icon {
  fill: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  margin: 0px;
}
.anand-container09 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.anand-text08 {
  color: var(--dl-color-gray-white);
}
.anand-link1 {
  display: contents;
}
.anand-phone {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.anand-container10 {
  flex: 0 0 auto;
  width: 7%;
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.anand-icon02 {
  fill: var(--dl-color-gray-white);
  width: auto;
  height: auto;
}
.anand-container11 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.anand-text09 {
  color: var(--dl-color-gray-white);
}
.anand-container12 {
  flex: 1;
  width: 68%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 1%;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  padding-left: 2%;
  padding-right: 0%;
  flex-direction: column;
  padding-bottom: 1%;
}
.anand-text10 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.anand-text11 {
  font-size: 16px;
  margin-top: 1%;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.anand-text14 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.anand-ul {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  list-style-type: square;
  list-style-position: outside;
}
.anand-li {
  margin: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
}
.anand-li1 {
  margin: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
}
.anand-li2 {
  margin: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
}
.anand-li3 {
  margin: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
}
.anand-li4 {
  margin: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
}
.anand-li5 {
  margin: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
}
.anand-social {
  flex: 0 0 auto;
  right: var(--dl-space-space-unit);
  width: auto;
  bottom: var(--dl-space-space-unit);
  display: flex;
  padding: 4px;
  position: absolute;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  padding-left: 4px;
  flex-direction: row;
  justify-content: flex-end;
}
.anand-linked-in {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-blue-300);
}
.anand-linked-in:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.anand-icon04 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.anand-link2 {
  display: contents;
}
.anand-google-scholar {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  display: flex;
  margin-top: 2px;
  transition: 0.3s;
  align-items: center;
  margin-left: 2px;
  padding-top: 2px;
  margin-right: 2px;
  padding-left: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  justify-content: center;
  text-decoration: none;
  background-color: #298aff;
}
.anand-google-scholar:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.anand-icon06 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.anand-link3 {
  display: contents;
}
.anand-website-resume {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-red-500);
}
.anand-website-resume:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.anand-icon08 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.anand-dotted-line {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-size-size-xsmall);
  display: flex;
  align-items: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
@media(max-width: 1200px) {
  .anand-container07 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 991px) {
  .anand-button {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .anand-container04 {
    flex-wrap: wrap;
    max-width: 500px;
    flex-direction: column;
  }
  .anand-container05 {
    width: 100%;
  }
  .anand-container12 {
    width: auto;
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .anand-canvas {
    padding-top: 210px;
  }
  .anand-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button4 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button6 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .anand-button7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 400px) {
  .anand-canvas {
    padding-top: 220px;
  }
  .anand-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .anand-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
