.header-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header-image {
  width: 70px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-text {
  margin: var(--dl-space-space-halfunit);
  font-size: 35px;
  font-family: Reem Kufi Ink;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: auto;
  text-transform: none;
  text-decoration: none;
}
.header-text1 {
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .header-container1 {
    flex: 1;
    flex-wrap: wrap;
  }
  .header-text {
    font-size: 30px;
  }
}
@media(max-width: 767px) {
  .header-image {
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .header-text {
    font-size: 25px;
  }
}

.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-red-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-red-400);
}
.navbar-button1 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-cyan-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-cyan-400);
}
.navbar-button2 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-blue-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-blue-400);
}
.navbar-button3 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-yellow-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-yellow-400);
}
.navbar-button4 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-green-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button4:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-green-400);
}
.navbar-button5 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-violet-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button5:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-violet-400);
}
.navbar-button6 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-magenta-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button6:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-magenta-400);
}
.navbar-button7 {
  margin: var(--dl-space-space-halfunit);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s;
  border-color: var(--dl-color-orange-400);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.navbar-button7:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-orange-400);
}

.member-card-member-card {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardwidth);
  height: var(--dl-size-size-cardheight);
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 0px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.member-card-image {
  width: var(--dl-size-size-cardheight);
  height: var(--dl-size-size-cardheight);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.member-card-container {
  flex: 1;
  width: var(--dl-size-size-cardwidth);
  height: var(--dl-size-size-cardheight);
  display: flex;
  position: relative;
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.member-card-name {
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Reem Kufi;
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.member-card-year-of-joining {
  font-size: 16px;
  font-family: Reem Kufi Ink;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
}
.member-card-email {
  margin-bottom: 4px;
}
.member-card-area-of-research {
  margin-bottom: 4px;
}
.member-card-container1 {
  flex: 0 0 auto;
  right: 8px;
  width: 100%;
  bottom: 0px;
  display: flex;
  padding: 4px;
  position: absolute;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-end;
}
.member-card-linked-in {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-blue-300);
}
.member-card-icon {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.member-card-google-scholar {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  display: flex;
  margin-top: 2px;
  align-items: center;
  margin-left: 2px;
  padding-top: 2px;
  margin-right: 2px;
  padding-left: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  justify-content: center;
  background-color: #298aff;
}
.member-card-icon2 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.member-card-website-resume {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-red-500);
}
.member-card-icon4 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.member-card-root-class-name {
  display: none;
}
.member-card-root-class-name1 {
  display: none;
}
.member-card-root-class-name2 {
  display: none;
}
.member-card-root-class-name4 {
  display: none;
}
.member-card-root-class-name5 {
  display: none;
}
@media(max-width: 767px) {
  .member-card-member-card {
    width: 470px;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .member-card-image {
    width: 100%;
    height: auto;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
  }
  .member-card-container {
    width: 100%;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
  }
  .member-card-container1 {
    position: static;
  }
}
@media(max-width: 479px) {
  .member-card-member-card {
    width: 92%;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-style: hidden;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text {
  font-size: 25px;
  font-family: Reem Kufi Ink;
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.footer-info {
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.footer-quick-links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  margin: var(--dl-space-space-halfunit);
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text05 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-text06 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-text07 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-text08 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-contact {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text09 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text10 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-text21 {
  align-self: center;
}
@media(max-width: 1200px) {
  .footer-container {
    justify-content: center;
  }
  .footer-quick-links {
    height: auto;
  }
  .footer-contact {
    flex: 1;
  }
  .footer-container4 {
    flex: 1;
  }
}
@media(max-width: 991px) {
  .footer-container {
    justify-content: center;
  }
  .footer-text {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .footer-info {
    flex-direction: column;
  }
  .footer-quick-links {
    width: 100%;
    align-self: flex-start;
    margin-right: 0px;
  }
  .footer-container2 {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    justify-content: center;
  }
  .footer-container1 {
    width: 100%;
    align-items: center;
  }
  .footer-text {
    width: auto;
    font-size: 20px;
  }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-container2 {
    flex-wrap: wrap;
  }
  .footer-text21 {
    text-align: center;
  }
}

.group-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/background2-1500w.jpg");
  background-repeat: repeat-y;
  background-position: top;
  background-attachment: fixed;
}
.group-canvas {
  flex: 0 0 auto;
  width: 92%;
  height: auto;
  margin: 4%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(15px);
  justify-content: center;
  background-color: hsla(0,0%,100%,.8);
}
.group-postdoctoral-fellows {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text {
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  font-style: normal;
  font-family: Reem Kufi;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.group-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-ph-d-students {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text1 {
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  font-style: normal;
  font-family: Reem Kufi;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.group-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-m-s-students {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text2 {
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  font-style: normal;
  font-family: Reem Kufi;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.group-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-m-tech-students {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text3 {
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  font-style: normal;
  font-family: Reem Kufi;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.group-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-dotted-line {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-size-size-bottomspace);
  display: flex;
  align-items: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
