.header-container {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-colors-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1300px;
  align-items: flex-start;
}
.header-link {
  display: contents;
}
.header-image {
  width: 70px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink {
  display: contents;
}
.header-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-halfunit);
}
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: 0px;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  position: 0px;
}
@media(max-width: 991px) {
  .header-container2 {
    flex: 1;
    flex-wrap: wrap;
  }
  .header-text {
    font-size: 25;
  }
}
@media(max-width: 767px) {
  .header-container {
    padding: 2%;
  }
  .header-image {
    width: 55;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .header-image {
    width: 50px;
    margin-top: 12px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .header-text {
    font-size: 25px;
  }
}

.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-root-class-name {
  display: none;
}
.navbar-root-class-name1 {
  display: none;
}
.navbar-root-class-name2 {
  display: none;
}
.navbar-root-class-name3 {
  display: none;
}
.navbar-root-class-name4 {
  display: none;
}
.navbar-root-class-name5 {
  display: none;
}
.navbar-root-class-name6 {
  display: none;
}
.navbar-root-class-name7 {
  display: none;
}
.navbar-root-class-name8 {
  display: none;
}
.navbar-root-class-name9 {
  display: none;
}
@media(max-width: 991px) {
  .navbar-button {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media(max-width: 767px) {
  .navbar-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button4 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button6 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 400px) {
  .navbar-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}

.member-card-member-card {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardwidth);
  height: var(--dl-size-size-cardheight);
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 0px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.member-card-container {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardheight);
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.member-card-image {
  width: var(--dl-size-size-cardheight);
  height: var(--dl-size-size-cardheight);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.member-card-container1 {
  flex: 1;
  width: var(--dl-size-size-cardwidth);
  height: var(--dl-size-size-cardheight);
  display: flex;
  position: relative;
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.member-card-name {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.member-card-year-of-joining {
  margin-bottom: 4px;
}
.member-card-email {
  margin-bottom: 4px;
}
.member-card-area-of-research {
  margin-bottom: 4px;
}
.member-card-co-guide {
  color: var(--dl-color-colors-accent);
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.member-card-container2 {
  flex: 0 0 auto;
  right: 8px;
  width: 100%;
  bottom: 0px;
  display: flex;
  padding: 4px;
  position: absolute;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-end;
}
.member-card-link {
  display: contents;
}
.member-card-linked-in {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-blue-300);
}
.member-card-icon {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.member-card-link1 {
  display: contents;
}
.member-card-google-scholar {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  display: flex;
  margin-top: 2px;
  align-items: center;
  margin-left: 2px;
  padding-top: 2px;
  margin-right: 2px;
  padding-left: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  justify-content: center;
  text-decoration: none;
  background-color: #298aff;
}
.member-card-icon2 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.member-card-link2 {
  display: contents;
}
.member-card-website-resume {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-red-500);
}
.member-card-icon4 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.member-card-root-class-name {
  display: none;
}


.member-card-root-class-name3 {
  display: none;
}
.member-card-root-class-name4 {
  display: none;
}
.member-card-root-class-name5 {
  display: none;
}
@media(max-width: 767px) {
  .member-card-member-card {
    width: 92%;
    height: auto;
    max-width: 470px;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius12);
    flex-direction: column;
    justify-content: center;
  }
  .member-card-container {
    width: 100%;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: center;
    background-color: rgba(100, 149, 237, 0.66);
    border-top-left-radius: var(--dl-radius-radius-radius12);
    border-top-right-radius: var(--dl-radius-radius-radius12);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .member-card-image {
    width: 75%;
    height: auto;
    margin-top: 12.5%;
    border-color: var(--dl-color-colors-accent);
    border-style: outset;
    border-width: 10px;
    margin-bottom: 12.5%;
    border-top-left-radius: var(--dl-radius-radius-radius50p);
    border-top-right-radius: var(--dl-radius-radius-radius50p);
    border-bottom-left-radius: var(--dl-radius-radius-radius50p);
    border-bottom-right-radius: var(--dl-radius-radius-radius50p);
  }
  .member-card-container1 {
    width: 100%;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
  }
  .member-card-co-guide {
    height: 16px;
    position: static;
    margin-left: 0px;
  }
  .member-card-container2 {
    position: static;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container01 {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-navlink {
  display: contents;
}
.footer-container02 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-style: hidden;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-text {
  font-style: normal;
}
.footer-text05 {
  display: none;
  font-style: normal;
}
.footer-info {
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.footer-quick-links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  margin: var(--dl-space-space-halfunit);
}
.footer-container03 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink1 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink2 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink3 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink4 {
  margin: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-contact {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text09 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-link {
  display: contents;
}
.footer-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text10 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-contact1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text21 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-link1 {
  display: contents;
}
.footer-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.footer-icon4 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text22 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon6 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text32 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-text33 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container01 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container02 {
    position: static;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    padding-left: 1%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: 1%;
    padding-bottom: 0px;
  }
  .footer-text {
    display: none;
  }
  .footer-text05 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text10 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .footer-text22 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-info {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-quick-links {
    width: 100%;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-container03 {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-contact {
    width: 100%;
  }
  .footer-contact1 {
    width: 100%;
  }
}
@media(max-width: 400px) {
  .footer-container03 {
    flex-wrap: wrap;
  }
}

.group-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colors-background);
  background-attachment: fixed;
}
.group-canvas {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: 0%;
  display: flex;
  align-items: center;
  padding-top: 170px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.group-container01 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.group-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.group-container02 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.group-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.group-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.group-postdoctoral-fellows {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text {
  margin: var(--dl-space-space-twounits);
  font-style: normal;
}
.group-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-ph-d-students {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text1 {
  margin: var(--dl-space-space-twounits);
  font-style: normal;
}
.group-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-ms-students {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text2 {
  margin: var(--dl-space-space-twounits);
  font-style: normal;
}
.group-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-m-tech-students {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text3 {
  margin: var(--dl-space-space-twounits);
  font-style: normal;
}
.group-graduated {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-project-associates {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
.group-text4 {
  margin: var(--dl-space-space-twounits);
  font-style: normal;
}
.group-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.group-dotted-line {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-size-size-bottomspace);
  display: flex;
  align-items: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
@media(max-width: 991px) {
  .group-button {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .group-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media(max-width: 767px) {
  .group-canvas {
    padding-top: 220px;
  }
  .group-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button4 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button6 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .group-button7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 400px) {
  .group-canvas {
    padding-top: 230px;
  }
  .group-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .group-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
