.header-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dl-color-colors-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header-image {
  width: 70px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-halfunit);
}
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .header-container1 {
    flex: 1;
    flex-wrap: wrap;
  }
  .header-text {
    font-size: 30px;
  }
}
@media(max-width: 767px) {
  .header-image {
    width: 60px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .header-container {
    padding: 2%;
  }
  .header-image {
    width: 50px;
    margin-top: 12px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .header-text {
    font-size: 25px;
  }
}

.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button1 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button1:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button2 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button2:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button3 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button3:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button4 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button4:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button5 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button5:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button6 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button6:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button7 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: 0px;
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button7:hover {
  color: var(--dl-color-colors-accent);
}
@media(max-width: 400px) {
  .navbar-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.footer-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-style: hidden;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text {
  font-style: normal;
}
.footer-text05 {
  display: none;
  font-style: normal;
}
.footer-info {
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.footer-quick-links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  margin: var(--dl-space-space-halfunit);
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text09 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-text10 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-text11 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-text12 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
}
.footer-contact {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text13 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text14 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text24 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-text25 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-container1 {
    position: static;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    padding-left: 1%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: 1%;
    padding-bottom: 0px;
  }
  .footer-text {
    display: none;
  }
  .footer-text05 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text14 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-info {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-quick-links {
    width: 100%;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-container2 {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-contact {
    width: 100%;
  }
}
@media(max-width: 400px) {
  .footer-container2 {
    flex-wrap: wrap;
  }
}

.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colors-background);
  background-attachment: fixed;
}
.home-canvas {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: 0%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(15px);
  justify-content: center;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 3%;
  flex-wrap: wrap;
  max-width: 1000px;
  min-height: 500px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.home-container02 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  max-width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-name {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container05 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  max-width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-name1 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container08 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  max-width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-image2 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-name2 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-dotted-line {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-size-size-xsmall);
  display: flex;
  align-items: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
@media(max-width: 1200px) {
  .home-container04 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .home-container07 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .home-container10 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 991px) {
  .home-container02 {
    width: 100%;
  }
  .home-container05 {
    width: 100%;
  }
  .home-container08 {
    width: 100%;
  }
}
