.header-container {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dl-color-colors-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header-link {
  display: contents;
}
.header-image {
  width: 70px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink {
  display: contents;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-halfunit);
}
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: 0px;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  position: 0px;
}
@media(max-width: 991px) {
  .header-container1 {
    flex: 1;
    flex-wrap: wrap;
  }
  .header-text {
    font-size: 25;
  }
}
@media(max-width: 767px) {
  .header-container {
    padding: 2%;
  }
  .header-image {
    width: 55;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .header-image {
    width: 50px;
    margin-top: 12px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .header-text {
    font-size: 25px;
  }
}

.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-root-class-name {
  display: none;
}
.navbar-root-class-name1 {
  display: none;
}
.navbar-root-class-name2 {
  display: none;
}
.navbar-root-class-name3 {
  display: none;
}
.navbar-root-class-name4 {
  display: none;
}
.navbar-root-class-name5 {
  display: none;
}
.navbar-root-class-name6 {
  display: none;
}
.navbar-root-class-name7 {
  display: none;
}
.navbar-root-class-name8 {
  display: none;
}
.navbar-root-class-name9 {
  display: none;
}
@media(max-width: 991px) {
  .navbar-button {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media(max-width: 767px) {
  .navbar-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button4 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button6 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 400px) {
  .navbar-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.footer-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-navlink {
  display: contents;
}
.footer-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-style: hidden;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-text {
  font-style: normal;
}
.footer-text05 {
  display: none;
  font-style: normal;
}
.footer-info {
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: row;
  justify-content: space-between;
}
.footer-quick-links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  margin: var(--dl-space-space-halfunit);
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-link1 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
  text-decoration: none;
}
.footer-link2 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
  text-decoration: none;
}
.footer-link3 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
  text-decoration: none;
}
.footer-link4 {
  margin: var(--dl-space-space-halfunit);
  padding-left: 4px;
  text-decoration: none;
}
.footer-contact {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-text09 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-link {
  display: contents;
}
.footer-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text10 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-halfunit);
}
.footer-text20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-text21 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-container1 {
    position: static;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    padding-left: 1%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: 1%;
    padding-bottom: 0px;
  }
  .footer-text {
    display: none;
  }
  .footer-text05 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text10 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer-info {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-quick-links {
    width: 100%;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-container2 {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-contact {
    width: 100%;
  }
}
@media(max-width: 400px) {
  .footer-container2 {
    flex-wrap: wrap;
  }
}

.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colors-background);
  background-attachment: fixed;
}
.home-canvas {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.home-container01 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-navbar-old {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-container02 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.home-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button01 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button01:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button02 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button02:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button03 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button03:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button04 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button04:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button05 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button05:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button06 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button06:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button07 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button07:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-container03 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.home-button08 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button08:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button09 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button09:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button10 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button10:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button11 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button11:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button12 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button12:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button13 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button13:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button14 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button14:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-button15 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-button15:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.home-front {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-left: 3%;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: 3%;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-navlink {
  display: contents;
}
.home-container04 {
  width: 30%;
  height: auto;
  display: flex;
  z-index: 1.;
  max-width: 333px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-name {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}
.home-navlink1 {
  display: contents;
}
.home-container07 {
  width: 30%;
  height: auto;
  display: flex;
  z-index: 1.;
  max-width: 333px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-name1 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}
.home-navlink2 {
  display: contents;
}
.home-container10 {
  width: 30%;
  height: auto;
  display: flex;
  z-index: 1.;
  max-width: 333px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image2 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-name2 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 0%;
  align-items: flex-start;
  margin-left: 2%;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: 2%;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: center;
}
.home-about-us {
  flex: 0 0 auto;
  width: 47%;
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 3%;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-name3 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius6);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
.home-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 4px;
  align-items: flex-start;
  margin-left: 4px;
  padding-top: 2%;
  margin-right: 4px;
  padding-left: 3%;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 3%;
  padding-bottom: 3%;
  background-color: var(--dl-color-colors-background);
}
.home-text {
  text-align: justify;
  line-height: 1.5;
}
.home-new-and-updates {
  flex: 0 0 auto;
  width: 47%;
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-name4 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius6);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
.home-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 275px;
  display: flex;
  margin-top: 4px;
  align-items: flex-start;
  margin-left: 4px;
  padding-top: 0%;
  margin-right: 4px;
  padding-left: 1%;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: var(--dl-color-colors-background);
}
.home-ul {
  margin: 0px;
  list-style-type: square;
  list-style-position: inside;
}
.home-event {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-text01 {
  line-height: 1.5;
}
.home-text02 {
  font-weight: 700;
}
.home-event1 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-text06 {
  line-height: 1.5;
}
.home-text07 {
  font-weight: 700;
}
.home-link {
  color: var(--dl-color-blue-300);
  line-height: 1.5;
  text-decoration: underline;
}
.home-event2 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-text11 {
  line-height: 1.5;
}
.home-text12 {
  font-weight: 700;
}
.home-event3 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-text17 {
  font-weight: 700;
}
.home-event4 {
  color: var(--dl-color-gray-black);
  display: none;
  position: relative;
  margin-top: 0px;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-text19 {
  line-height: 1.5;
}
.home-text20 {
  font-weight: 700;
}
.home-link1 {
  color: var(--dl-color-blue-300);
  line-height: 1.5;
  text-decoration: underline;
}
.home-navlink3 {
  color: var(--dl-color-colors-accent);
  right: 3%;
  bottom: 3%;
  position: absolute;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  border-color: var(--dl-color-colors-accent);
  border-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  padding: var(--dl-space-space-oneandhalfunits);
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 0%;
  align-items: flex-start;
  margin-left: 2%;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: 2%;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: center;
}
.home-container19 {
  flex: 0 0 auto;
  width: 47%;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 3%;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-name5 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.home-container21 {
  flex: 0 0 auto;
  width: auto;
  height: 275px;
  margin: 4px;
  display: flex;
  padding: 3%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-colors-background);
}
.home-text24 {
  text-align: justify;
  line-height: 1.4;
}
.home-container22 {
  flex: 0 0 auto;
  width: 47%;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-name6 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.home-container24 {
  flex: 0 0 auto;
  width: auto;
  height: 275px;
  margin: 4px;
  display: flex;
  padding: 0%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-colors-background);
}
.home-ul1 {
  margin: 0px;
  list-style-type: square;
  list-style-position: inside;
}
.home-paper {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
.home-paper1 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
.home-paper2 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
.home-dotted-line {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-size-size-xsmall);
  display: flex;
  align-items: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
@media(max-width: 1200px) {
  .home-container13 {
    align-items: center;
    flex-direction: column;
  }
  .home-about-us {
    width: 900px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container14 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container15 {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .home-new-and-updates {
    width: 900px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container16 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container17 {
    height: auto;
    margin-bottom: var(--dl-space-space-twounits);
    padding-bottom: 0%;
  }
  .home-navlink3 {
    right: var(--dl-space-space-unit);
    bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .home-button08 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button09 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button10 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button11 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button12 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button13 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button14 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button15 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-front {
    padding: 4%;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: 0px;
    flex-direction: row;
  }
  .home-container04 {
    width: 100%;
  }
  .home-container07 {
    width: 100%;
  }
  .home-container10 {
    width: 100%;
  }
  .home-container13 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-about-us {
    width: 96%;
  }
  .home-new-and-updates {
    width: 96%;
  }
  .home-ul {
    margin: 0px;
  }
  .home-container18 {
    padding: 4%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container19 {
    width: 100%;
  }
  .home-container22 {
    width: 100%;
  }
  .home-ul1 {
    margin: 0px;
  }
}
@media(max-width: 767px) {
  .home-canvas {
    padding-top: 200px;
  }
  .home-button08 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button09 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button10 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button11 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button12 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button13 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button14 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-button15 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-front {
    flex-direction: column;
  }
  .home-ul {
    padding-left: 4%;
  }
  .home-ul1 {
    padding-left: 4%;
  }
}
@media(max-width: 400px) {
  .home-canvas {
    padding-top: 220px;
  }
  .home-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button01 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button02 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button03 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button04 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button05 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button06 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button07 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button08 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button09 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button10 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button11 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button12 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button13 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button14 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-button15 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
