.header-wrapper {
  display: contents;
}
 
.header-container1 {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  z-index: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-colors-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.header-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1300px;
  align-items: flex-start;
}
 
.header-link {
  display: contents;
}
 
.header-image {
  width: 70px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-navlink {
  display: contents;
}
 
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
 
.header-text1 {
  color: var(--dl-color-gray-white);
  margin: var(--dl-layout-space-halfunit);
}
 
.header-text2 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.headerroot-class-name {
  top: 0px;
  left: 0px;
  position: 0px;
}
 
.headerroot-class-name1 {
  top: 0px;
  left: 0px;
  position: 0px;
}
 
@media(max-width: 991px) {
  .header-container3 {
    flex: 1;
    flex-wrap: wrap;
  }
  .header-text1 {
    font-size: 25;
  }
}
 
@media(max-width: 767px) {
  .header-container1 {
    padding: 2%;
  }
  .header-image {
    width: 55;
    align-self: flex-start;
    margin-top: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-text1 {
    font-size: 22px;
  }
  .header-text2 {
    font-size: 15px;
  }
}
 
@media(max-width: 400px) {
  .header-image {
    width: 50px;
    margin-top: 12px;
    margin-right: var(--dl-layout-space-halfunit);
  }
}

.gallery8-wrapper {
  display: contents;
}
 
.gallery8-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.gallery8-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery8-section-title {
  gap: 24px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery8-container {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.gallery8-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery8-slider {
  width: 100%;
  height: 770px;
  display: inline-block;
}
 
.gallery8-slider-slide1 {
  height: calc(100% - 20px);
  display: flex;
}
 
.gallery8-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.gallery8-slider-slide2 {
  height: calc(100% - 20px);
  display: flex;
}
 
.gallery8-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.gallery8-slider-slide3 {
  height: calc(100% - 20px);
  display: flex;
}
 
.gallery8-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.gallery8-slider-pagination {
  display: block;
}
 
.gallery8root-class-name {
  display: none;
  max-width: 1200px;
}
 
@media(max-width: 991px) {
  .gallery8-content {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .gallery8-section-title {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .gallery8-slider {
    height: 550px;
  }
}
 
@media(max-width: 479px) {
  .gallery8-slider {
    height: 440px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
 
.footer-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-container11 {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
 
.footer-navlink1 {
  display: contents;
}
 
.footer-container12 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  border-style: hidden;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-text10 {
  font-style: normal;
}
 
.footer-text15 {
  display: none;
  font-style: normal;
}
 
.footer-info {
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-quick-links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  margin-right: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-heading {
  margin: var(--dl-layout-space-halfunit);
}
 
.footer-container13 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-navlink2 {
  margin: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink3 {
  margin: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink4 {
  margin: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink5 {
  margin: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-contact1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
 
.footer-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.footer-text19 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-link1 {
  display: contents;
}
 
.footer-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
 
.footer-icon1 {
  width: 24px;
  height: 24px;
  margin: var(--dl-layout-space-halfunit);
}
 
.footer-text20 {
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 19px;
  align-items: center;
  justify-content: flex-start;
}
 
.footer-icon3 {
  width: 24px;
  height: 24px;
  margin: var(--dl-layout-space-halfunit);
}
 
.footer-text29 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-contact2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-style: hidden;
  flex-direction: column;
}
 
.footer-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.footer-text30 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-link2 {
  display: contents;
}
 
.footer-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
 
.footer-icon5 {
  width: 24px;
  height: 24px;
  margin: var(--dl-layout-space-halfunit);
}
 
.footer-text31 {
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  line-height: 1.25;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.footer-icon7 {
  width: 24px;
  height: 24px;
  margin: var(--dl-layout-space-halfunit);
}
 
.footer-text41 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: #D9D9D9;
}
 
.footer-text42 {
  align-self: center;
}
 
@media(max-width: 991px) {
  .footer-container11 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container12 {
    position: static;
    margin-top: var(--dl-layout-space-unit);
    padding-top: 0px;
    padding-left: 1%;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
    padding-right: 1%;
    padding-bottom: 0px;
  }
  .footer-text10 {
    display: none;
  }
  .footer-text15 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text20 {
    margin-right: var(--dl-layout-space-halfunit);
  }
  .footer-text31 {
    margin-right: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .footer-info {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-quick-links {
    width: 100%;
    margin-top: var(--dl-layout-space-halfunit);
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: var(--dl-layout-space-halfunit);
    padding-right: 0px;
  }
  .footer-container13 {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-contact1 {
    width: 100%;
    margin-top: var(--dl-layout-space-halfunit);
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .footer-container16 {
    margin-top: 0px;
  }
  .footer-contact2 {
    width: 100%;
    margin-top: var(--dl-layout-space-halfunit);
    margin-bottom: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 400px) {
  .footer-container13 {
    flex-wrap: wrap;
  }
}

.home-container10 {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colors-background);
  background-attachment: fixed;
}
 
.home-canvas {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
 
.home-container11 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-container12 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
 
.home-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-button8 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-button8:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
 
.home-front {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-self: center;
  margin-top: var(--dl-layout-space-fourunits);
  align-items: center;
  margin-left: 3%;
  padding-top: var(--dl-layout-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: 3%;
  padding-left: 0px;
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.home-navlink1 {
  display: contents;
}
 
.home-container13 {
  width: 30%;
  height: auto;
  display: flex;
  z-index: 1.;
  max-width: 333px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius4);
  border-top-right-radius: var(--dl-layout-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.home-name1 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}
 
.home-navlink2 {
  display: contents;
}
 
.home-container16 {
  width: 30%;
  height: auto;
  display: flex;
  z-index: 1.;
  max-width: 333px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-image2 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius4);
  border-top-right-radius: var(--dl-layout-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.home-name2 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}
 
.home-navlink3 {
  display: contents;
}
 
.home-container19 {
  width: 30%;
  height: auto;
  display: flex;
  z-index: 1.;
  max-width: 333px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-image3 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius4);
  border-top-right-radius: var(--dl-layout-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.home-name3 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-style: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}
 
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 0%;
  align-items: flex-start;
  margin-left: 2%;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: 2%;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: center;
}
 
.home-about-us {
  flex: 0 0 auto;
  width: 47%;
  height: 400px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
}
 
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 3%;
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: 0px;
}
 
.home-name4 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius6);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 4px;
  align-items: flex-start;
  margin-left: 4px;
  padding-top: 2%;
  margin-right: 4px;
  padding-left: 3%;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-unit);
  padding-right: 3%;
  padding-bottom: 3%;
  background-color: var(--dl-color-colors-background);
}
 
.home-text10 {
  text-align: justify;
  line-height: 1.5;
}
 
.home-new-and-updates {
  flex: 0 0 auto;
  width: 47%;
  height: 400px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 1.;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: center;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
}
 
.home-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: 0px;
}
 
.home-name5 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius6);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container26 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-colors-background);
}
 
.home-ul1 {
  margin: 0px;
  padding-left: var(--dl-layout-space-unit);
  list-style-type: square;
  list-style-position: inside;
}
 
.home-event1 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text12 {
  font-weight: 700;
}
 
.home-event2 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text15 {
  font-weight: 700;
}
 
.home-event3 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  text-decoration: none;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text17 {
  line-height: 1.5;
}
 
.home-text18 {
  font-weight: 700;
}
 
.home-text20 {
  color: var(--dl-color-colors-accent);
  text-decoration: underline;
}
 
.home-event4 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text22 {
  font-weight: 700;
}
 
.home-event5 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  text-decoration: none;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text24 {
  line-height: 1.5;
}
 
.home-text25 {
  font-weight: 700;
}
 
.home-text27 {
  color: var(--dl-color-colors-accent);
  text-decoration: underline;
}
 
.home-event6 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text29 {
  line-height: 1.5;
}
 
.home-text30 {
  font-weight: 700;
}
 
.home-event7 {
  color: var(--dl-color-gray-black);
  display: none;
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text32 {
  line-height: 1.5;
}
 
.home-text33 {
  font-weight: 700;
}
 
.home-event8 {
  color: var(--dl-color-gray-black);
  display: none;
  position: relative;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: left;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: 0px;
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  letter-spacing: auto;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-text35 {
  line-height: 1.5;
}
 
.home-text36 {
  font-weight: 700;
}
 
.home-navlink4 {
  color: var(--dl-color-colors-accent);
  right: 3%;
  bottom: 3%;
  position: absolute;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  border-color: var(--dl-color-colors-accent);
  border-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
 
.home-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  padding: var(--dl-layout-space-oneandhalfunits);
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 0%;
  align-items: flex-start;
  margin-left: 2%;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: 2%;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: center;
}
 
.home-container28 {
  flex: 0 0 auto;
  width: 47%;
  height: auto;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 3%;
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-name6 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-container30 {
  flex: 0 0 auto;
  width: auto;
  height: 275px;
  margin: 4px;
  display: flex;
  padding: 3%;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  background-color: var(--dl-color-colors-background);
}
 
.home-text38 {
  text-align: justify;
  line-height: 1.4;
}
 
.home-container31 {
  flex: 0 0 auto;
  width: 47%;
  height: auto;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 1.;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-colors-accent);
}
 
.home-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-name7 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-container33 {
  flex: 0 0 auto;
  width: auto;
  height: 275px;
  margin: 4px;
  display: flex;
  padding: 0%;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  background-color: var(--dl-color-colors-background);
}
 
.home-ul2 {
  margin: 0px;
  list-style-type: square;
  list-style-position: inside;
}
 
.home-paper1 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-layout-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-layout-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-paper2 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-layout-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-layout-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-paper3 {
  color: var(--dl-color-gray-black);
  position: relative;
  margin-top: 0px;
  text-align: justify;
  margin-left: var(--dl-layout-space-halfunit);
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-colors-background);
  border-style: solid;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-layout-space-halfunit);
  letter-spacing: auto;
  padding-bottom: var(--dl-layout-space-halfunit);
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
 
.home-dotted-line {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: var(--dl-layout-size-xsmall);
  display: flex;
  align-items: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-link3 {
  display: contents;
}
 
.home-container34 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text48 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 1200px) {
  .home-container22 {
    align-items: center;
    flex-direction: column;
  }
  .home-about-us {
    width: 900px;
    height: auto;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-container23 {
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-container24 {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .home-new-and-updates {
    width: 900px;
    height: auto;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-container25 {
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-container26 {
    height: auto;
    margin-bottom: var(--dl-layout-space-twounits);
    padding-bottom: 0%;
  }
  .home-navlink4 {
    right: var(--dl-layout-space-unit);
    bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 991px) {
  .home-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-button8 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .home-front {
    padding: 4%;
    margin-top: var(--dl-layout-space-twounits);
    margin-bottom: 0px;
    flex-direction: row;
  }
  .home-container13 {
    width: 100%;
  }
  .home-container16 {
    width: 100%;
  }
  .home-container19 {
    width: 100%;
  }
  .home-container22 {
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    margin-bottom: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-about-us {
    width: 96%;
  }
  .home-new-and-updates {
    width: 96%;
  }
  .home-ul1 {
    margin: 0px;
  }
  .home-container27 {
    padding: 4%;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-container28 {
    width: 100%;
  }
  .home-container31 {
    width: 100%;
  }
  .home-ul2 {
    margin: 0px;
  }
}
 
@media(max-width: 767px) {
  .home-canvas {
    padding-top: 200px;
  }
  .home-button1 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button2 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button3 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button4 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button5 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button6 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button7 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-button8 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .home-front {
    flex-direction: column;
  }
  .home-ul1 {
    padding-left: 4%;
  }
  .home-ul2 {
    padding-left: 4%;
  }
}
 
@media(max-width: 400px) {
  .home-canvas {
    padding-top: 180px;
  }
  .home-button1 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button2 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button3 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button4 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button5 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button6 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button7 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-button8 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .home-front {
    padding-top: var(--dl-layout-space-unit);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-layout-space-unit);
  }
}
