<div>
  <link href="./alumni-mini-card.css" rel="stylesheet" />
  <a href target="_blank" rel="noreferrer noopener">
    <div class="alumni-mini-card-member-card">
      <div class="alumni-mini-card-container">
        <span class="alumni-mini-card-name Heading3">
          <span>Firstname Middlename Lastname</span>
        </span>
        <span class="alumni-mini-card-year Content"><span>Year:</span></span>
        <span class="alumni-mini-card-thesis-area-of-research Content">
          <span>Thesis:</span>
        </span>
        <span class="alumni-mini-card-co-guide"><span></span></span>
      </div>
    </div>
  </a>
</div>
