.alumni-card-member-card {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardwidth);
  height: var(--dl-size-size-cardheight);
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: 0px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.alumni-card-image {
  width: var(--dl-size-size-cardheight);
  height: var(--dl-size-size-cardheight);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.alumni-card-container {
  flex: 1;
  width: var(--dl-size-size-cardwidth);
  height: var(--dl-size-size-cardheight);
  display: flex;
  position: relative;
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.alumni-card-name {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.alumni-card-year-of-joining {
  margin-bottom: 4px;
}
.alumni-card-email {
  margin-bottom: 4px;
}
.alumni-card-area-of-research {
  margin-bottom: 4px;
}
.alumni-card-container1 {
  flex: 0 0 auto;
  right: 8px;
  width: 100%;
  bottom: 0px;
  display: flex;
  padding: 4px;
  position: absolute;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-end;
}
.alumni-card-link {
  display: contents;
}
.alumni-card-linked-in {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-blue-300);
}
.alumni-card-icon {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.alumni-card-link1 {
  display: contents;
}
.alumni-card-google-scholar {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  display: flex;
  margin-top: 2px;
  align-items: center;
  margin-left: 2px;
  padding-top: 2px;
  margin-right: 2px;
  padding-left: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  justify-content: center;
  text-decoration: none;
  background-color: #298aff;
}
.alumni-card-icon2 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}
.alumni-card-link2 {
  display: contents;
}
.alumni-card-website-resume {
  flex: 0 0 auto;
  width: var(--dl-size-size-cardicon);
  height: var(--dl-size-size-cardicon);
  margin: 2px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-red-500);
}
.alumni-card-icon4 {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
}














@media(max-width: 767px) {
  .alumni-card-member-card {
    width: 470px;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .alumni-card-image {
    width: 100%;
    height: auto;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
  }
  .alumni-card-container {
    width: 100%;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
  }
  .alumni-card-container1 {
    position: static;
  }
}
@media(max-width: 400px) {
  .alumni-card-member-card {
    width: 92%;
  }
}
