.alumni-mini-card-old-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}
.alumni-mini-card-old-card-1 {
  flex: 0 0 auto;
  width: 360px;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.alumni-mini-card-old-card-1:hover {
  border-style: hidden;
  background-color: var(--dl-color-colors-background);
}
.alumni-mini-card-old-name {
  font-size: 20px;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.alumni-mini-card-old-card-2 {
  flex: 0 0 auto;
  width: 360px;
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.alumni-mini-card-old-card-2:hover {
  border-style: hidden;
  background-color: var(--dl-color-colors-background);
}
.alumni-mini-card-old-name1 {
  font-size: 20px;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
