<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text Heading3">
          <span>Laboratory for </span>
          <br />
          <span>Mechanics of Microstructures</span>
          <br />
        </span>
        <span class="footer-text05 Heading3">
          <span>Laboratory for </span>
          <span>Mechanics of Microstructures</span>
          <br />
        </span>
      </div>
      <div class="footer-info">
        <div class="footer-quick-links">
          <span class="footer-heading Heading3"><span>Quick Links</span></span>
          <div class="footer-container2">
            <a href="index.html" class="footer-link1"><span>Home</span></a>
            <a href="anand.html" class="footer-link2"><span>Anand</span></a>
            <a href="group.html" class="footer-link3"><span>Group</span></a>
            <a href="openings.html" class="footer-link4">
              <span>Openings</span>
            </a>
          </div>
        </div>
        <div class="footer-contact">
          <div class="footer-container3">
            <span class="footer-text09 Heading3"><span>Contact</span></span>
          </div>
          <div class="footer-container4">
            <svg viewBox="0 0 1024 1024" class="footer-icon">
              <path
                d="M512 490q44 0 75-31t31-75-31-75-75-31-75 31-31 75 31 75 75 31zM512 86q124 0 211 87t87 211q0 62-31 142t-75 150-87 131-73 97l-32 34q-12-14-32-37t-72-92-91-134-71-147-32-144q0-124 87-211t211-87z"
              ></path>
            </svg>
            <span class="footer-text10">
              <span>Laboratory for mechanics of microstructures,</span>
              <br />
              <span>New Academic Complex, Room 221,</span>
              <br />
              <span>Dept. of Metallurgical and Materials Engineering,</span>
              <br />
              <span>IIT Madras.</span>
              <br />
              <span>Chennai, 600036.</span>
            </span>
          </div>
          <div class="footer-container5">
            <svg viewBox="0 0 1024 1024" class="footer-icon2">
              <path
                d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
              ></path>
            </svg>
            <span class="footer-text20 Content">
              <span>Ph: +91 44 2257 5754</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-separator"></div>
    <span class="footer-text21">
      <span>© 2022  Anand,  All Rights Reserved.</span>
    </span>
  </div>
</div>
