<div>
  <link href="./header.css" rel="stylesheet" />
  <header class="header-container">
    <a
      href="https://www.iitm.ac.in/"
      target="_blank"
      rel="noreferrer noopener"
      class="header-link"
    >
      <img
        alt="image"
        src="public/playground_assets/iit_madras_logo-200h.png"
        class="header-image"
      />
    </a>
    <a href="index.html" class="header-navlink">
      <div class="header-container1">
        <span class="header-text GroupName">
          <span>Laboratory for Mechanics of Microstructures</span>
        </span>
        <span class="header-text1">
          <span>
            Department of Metallurgical and Materials  Engineering, IIT Madras.
          </span>
          <br />
        </span>
      </div>
    </a>
  </header>
</div>
