<div>
  <link href="./navbar.css" rel="stylesheet" />
  <div class="navbar-navbar">
    <div class="navbar-container">
      <a href="index.html" class="navbar-button"><span>Home</span></a>
      <a href="anand.html" class="navbar-button1"><span>Anand</span></a>
      <a href="group.html" class="navbar-button2"><span>Group</span></a>
      <a href="research.html" class="navbar-button3"><span>Research</span></a>
      <a href="alumni.html" class="navbar-button4"><span>Alumni</span></a>
      <a href="publications.html" class="navbar-button5">
        <span>Publications</span>
      </a>
      <a href="teaching.html" class="navbar-button6"><span>Teaching</span></a>
      <a href="openings.html" class="navbar-button7"><span>Openings</span></a>
    </div>
  </div>
</div>
