.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button1 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button1:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button2 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button2:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button3 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button3:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button4 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button4:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button5 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button5:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button6 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button6:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-button7 {
  height: 25px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  margin-top: 4px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 4px;
  text-transform: none;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.navbar-button7:hover {
  color: var(--dl-color-colors-accent);
  border-style: solid;
}
.navbar-root-class-name {
  display: none;
}
.navbar-root-class-name1 {
  display: none;
}
.navbar-root-class-name2 {
  display: none;
}
.navbar-root-class-name3 {
  display: none;
}
.navbar-root-class-name4 {
  display: none;
}
.navbar-root-class-name6 {
  display: none;
}
.navbar-root-class-name7 {
  display: none;
}
.navbar-root-class-name8 {
  display: none;
}
@media(max-width: 991px) {
  .navbar-button {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button1 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button2 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button3 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button4 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button5 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button6 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .navbar-button7 {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media(max-width: 767px) {
  .navbar-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button4 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button6 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-button7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 400px) {
  .navbar-button {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button1 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button2 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button3 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button4 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button5 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button6 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .navbar-button7 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
