.navbar-navbar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: flex-start;
  border-color: var(--dl-color-colors-accent);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
}
.navbar-button {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button1 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button1:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button2 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button2:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button3 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button3:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button4 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button4:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button5 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button5:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button6 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button6:hover {
  color: var(--dl-color-colors-accent);
}
.navbar-button7 {
  margin: var(--dl-space-space-halfunit);
  font-size: 16px;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 500;
  padding-top: 0px;
  border-style: hidden;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.navbar-button7:hover {
  color: var(--dl-color-colors-accent);
}
