<div>
  <link href="./navbar.css" rel="stylesheet" />
  <div class="navbar-navbar">
    <div class="navbar-container">
      <a href="index.html" class="navbar-button button"><span>Home</span></a>
      <a href="anand.html" class="navbar-button1 button"><span>Anand</span></a>
      <a href="group.html" class="navbar-button2 button"><span>Group</span></a>
      <a href="research.html" class="navbar-button3 button">
        <span>Research</span>
      </a>
      <a href="alumni.html" class="navbar-button4 button">
        <span>Alumni</span>
      </a>
      <a href="publications.html" class="navbar-button5 button">
        <span>Publications</span>
      </a>
      <a href="publications.html" class="navbar-button6 button">
        <span>Teaching</span>
      </a>
      <a href="links.html" class="navbar-button7 button"><span>Links</span></a>
    </div>
  </div>
</div>
